<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Otávio's CV</title>
  {% endblock %}
</head>
<body>
  {% block nav %}
  <header>
    <nav class="nav">
      <a href="/"><img src="{{ url_for('static',filename='media/icon.png') }}" id="iconNav"></a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="/profissional">Profissional</a></li>
        <li><a href="/academico">Acadêmico</a></li>
        <li><a href="/tecnologias">Tecnologias</a></li>
      </ul>
    </nav>
  </header>
  {% endblock %}
  <div class="conteudo">
    {% block conteudo %}
    {% endblock %}
  </div>
  <div class="footer">
    {% block footer %}
      <div class="linkedin">
        <a href="https://www.linkedin.com/in/o-abreu/" target="blank">
          <img src="{{ url_for('static',filename='media/linkedin.png') }}">
          <span>/o-abreu</span>
        </a>
      </div>
      <div class="github">
        <a href="https://github.com/otavioabreu27" target="blank">
          <img src="{{ url_for('static',filename='media/github.png') }}">
          <span>/otavioabreu27</span>
        </a>
      </div>
      <div class="email">
        <a href="mailto:otavio.abreu96@gmail.com?subject=Olá%20Otávio!" target="blank">
          <img src="{{ url_for('static',filename='media/message.png') }}">
          <span>otavio.abreu96@gmail.com</span>
        </a>
      </div>
    {% endblock %}
  </div>
  <script>
    class MobileNavbar{
      constructor(mobileMenu, navList, navLinks) {
        this.mobileMenu = document.querySelector(mobileMenu);
        this.navList = document.querySelector(navList);
        this.navLinks = document.querySelectorAll(navLinks);
        this.activeClass = "active";

        this.handleClick = this.handleClick.bind(this);
      }

      animatedLinks() {
        this.navLinks.forEach((link) => {
          link.style.animation
          ? (link.style.animation = "")
          : (link.style.animation = "navLinkFade 0.5 ease forwards 0.3s")
        })
      }

      handleClick(){
        this.navList.classList.toggle(this.activeClass);
        this.animatedLinks();
      }

      addClickEvent(){
        this.mobileMenu.addEventListener("click", this.handleClick);
      }
      init(){
        if (this.mobileMenu){
          this.addClickEvent();
        }
        return this;
      }
    }
    const mobileNavbar = new MobileNavbar(
      ".mobile-menu",
      ".nav-list",
      ".nav-list li",
    );
    mobileNavbar.init();
  </script>
</body>
</html>
